# fly.toml app configuration file generated for matrix-as-webhooks on 2025-12-23T16:50:56Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

primary_region = 'lhr'

[build]

[[mounts]]
source = 'matrix_as_webhook_config'
destination = '/app/config'
initial_size = '1gb'
auto_extend_size_threshold = 80
auto_extend_size_increment = '1gb'
auto_extend_size_limit = '2gb'

[http_service]
internal_port = 8080
force_https = true
auto_stop_machines = 'stop'
auto_start_machines = true
min_machines_running = 0
processes = ['app']

[[vm]]
memory = '256mb'
cpu_kind = 'shared'
cpus = 1
